body {
  font-family: Orbitron, sans-serif;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-page-container {
  background-image: url('./loginBackground.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-container {
background-color: rgba(96, 128, 152, 0.7);
padding: 20px;
border-radius: 10px;
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative; 
z-index: 1;
}

.login-logo {
max-width: 250px;
max-height: 250px; 
display: block;
margin-left: auto;
margin-right: auto;
margin-top: -150px; 
z-index: 10;
}

.login-input {
  font-family: Orbitron, sans-serif;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.login-button {
  font-family: Orbitron, sans-serif;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f03c3c;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.login-button:hover {
  background-color: #d82b2b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  transform: translateY(-2px);
}

.login-button-link {
text-decoration: none;
color: inherit;
display: block;
}

.login-error {
  color: #ff0033; 
  background-color: #ffe5e5; 
  border: 1px solid #ff0033;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  animation: shake 0.5s; 
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
}