.collection-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  background-color: #ffffff;
}

.collection-navbar {
  font-family: 'Orbitron', sans-serif;
  background-color: #5580e9 !important;
}

.collection-navbar.bg-light .nav-link, .collection-navbar.bg-light .collection-navbar-brand {
  color: #ffffff !important;
  background-color: #5580e9 !important;
}

.collection-header {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.collection-header div{
  max-width: 200px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.collection-content {
  flex: 1;
  background-color: #5885AF;
}

.tab-group{
  display:flex;
}

.tab-group img{
  border-radius: 65px;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.tab-group button {
  font-size: 30px;
  font-weight: 900;
  padding: 30px 30px;
  cursor: pointer;
  position: relative;
  width: 50%;
  background: #5885AF;
  color: #C3E0E5;
  border: 0;
  outline: 0;
  opacity: 0.6;
  transition: ease opacity 250ms;

  &:before {
    content: "";
    position: absolute;
    bottom: 55px;
    left: 10%;
    width: 80%;
    height: 2px;
    background: transparent;
    transition: ease background 250ms;
  }

  &:hover {
    opacity: 1;

    &:before {
      background: black;
    }
  }
}

