body {
  font-family: 'Orbitron', sans-serif;
  background-color: #112F3B;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-y: hidden;
}

.market-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  font-family: 'Orbitron', sans-serif;
  background-color: #5a0101 !important;
}

.market-navbar.bg-light .nav-link, .market-navbar.bg-light .market-navbar-brand {
  color: #fff !important;
  background-color: #5a0101 !important;
}

.whole-container {
  padding-top: 150px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market-layout {
  display: flex;
  top: 10%;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
}

.left-sidebar {
  position: fixed;
  top: 10%;
  left: 0;
  background-color: rgba(249, 75, 63, 0.8);
  padding: 20px;
  width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.market-banner-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-window-container {
  flex-grow: 1;
  padding: 20px;
  margin-left: 400px;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.market-footer {
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #000;
  width: 100%;
}

.search-bar {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-family: 'Orbitron', sans-serif;
}

.page-button {
  background-color: #5a0101;
  color: white;
  border: none;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85em;
  font-family: 'Orbitron', sans-serif; 
  transition: background-color 0.3s, box-shadow 0.3s; 
}

.page-button:hover {
  background-color: #7a2b2b;
}

.page-button:focus {
  outline: none;
  box-shadow: 0 0 10px 3px rgba(90, 1, 1, 0.7); 
}

.card-window-container .card {
  height: 345px; 
  width: calc((100% - 60px) / 4); 
  margin: 10px; 
  display: inline-block;
  
}
