.user-img {
  background-size: cover;
  text-align: center;
  height: 100%;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  color: white;
  background-color: rgba(30, 80, 116, .75);
  border-radius: 25px;
  height: 100%;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.user-info ul {
  list-style-type: none;
  padding: 0;
}

.user-info ul li img.user-pfp {
  height: 440px;
  width: 340px; 
  object-fit: fill; 
}

.user-info li {
  font-size: 32px;
}

.user-info h2 {
  font-size: 46px; 
  margin-top: 10px; 
}