.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* New class to make the modal visible */
.modal-visible {
  display: block; /* Show the modal */
}

.modal-content {
  position: fixed; /* Fixed position */
  top: 50%; /* Position the top edge of the element at the middle of the screen */
  left: 50%; /* Position the left edge of the element at the middle of the screen */
  transform: translate(-50%, -50%); /* Shift the element left and up by half its width and height */

  z-index: 2; /* Higher than .modal */
  margin: auto; /* Auto margin for automatic spacing */
  padding: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
  /* border: 2px solid red; /* For visibility during debugging, can be removed later */
  background-color: lightblue; /* For visibility during debugging, can be removed later */ */
  width: 80%; /* Responsive width */
  max-width: 800px; /* Maximum width */
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header,
.modal-image,
.modal-description {
  margin-bottom: 20px;
}

.modal-header {
  text-align: center;
}

.card-modal-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-modal-name {
  font-size: 1.5em;
}

.card-modal-rarity,
.card-modal-artist,
.card-modal-flavortext,
.card-modal-pokedex,
.card-modal-price,
.card-modal-hp,
.card-modal-level,
.card-modal-supertype,
.card-modal-set {
  font-size: 1.2em;
}

.modal-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex-basis: 45%; /* Slightly less than half to account for margin */
  min-width: 250px; /* Minimum width for each column */
}

@media screen and (max-width: 600px) {
  .modal-description {
    flex-direction: column;
  }
  .column {
    flex-basis: 100%;
  }
}
